
{% extends 'base.html' %}

{% block javascript %}
{% load staticfiles%}
<script src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{ % static 'assets/js/bootstrap.min.js' %}"></script>
<script src=" {% static 'assets/js/cropper.js'%} "></script>

 <script>
     //jQuery(function ()  {
// Shortcut, but same thing as above.
      $(function () { alert('Really, the DOM is ready!'); 
      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_file").change(function () {
        if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#image").attr("src", e.target.result);
          $("#modalCrop").modal("show");

        }
      reader.readAsDataURL(this.files[0]);
    }
  });
   $( function () {
    var $image = $('#image');
    var cropBoxData;
    var canvasData;
    var cropper;
    $('#modal').on('shown.bs.modal', function () {
        $image.cropper({
          autoCropArea: 0.2,
          aspectRatio: 1/2,

          ready: function () {
            //Should set crop box data first here
            $image.cropper('setCanvasData',canvasData);
            $image.cropper('setCropBoxData',cropBoxData);
          }
        });
      }).on('hidden.bs.modal', function () {
        cropBoxData =$image.cropper('getCropBoxData');
        canvasData = $imagecropper('getCanvasData');
        $image.cropper('destroy');
      });
    
      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        alert("This image has been clicked!");

        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("#formUpload").submit();
      });
     });
    });

  </script>

{% endblock %}

{% block content %}
  <h1 class="page-header">Album</h1>

  <!-- FORM TO UPLOAD THE IMAGES -->
  <form method="post" enctype="multipart/form-data" id="formUpload">
    {% csrf_token %}
    {{ form }}
  </form>

  <!-- MODAL TO CROP THE IMAGE -->

  <div class="modal fade" id="modalCrop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Crop the photo</h4>
        </div>
        <div class="modal-body">
          <img src="" id="image" style="max-width: 100%;">
        </div>
        <div class="modal-footer">
          <div class="btn-group pull-left" role="group">
          
          <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
          <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- CONTAINER TO DISPLAY THE CROPPED IMAGES -->
  <div class="row" style="margin-top: 10px">
    {% for photo in photos %}
      <div class="col-md-6 col-md-4">
        <img src="{{ photo.file.url }}" class="thumbnail">
      </div>
    {% endfor %}
  </div>

{% endblock %}

 